.panel {
    height: 100%;
    width: 50%;
    border: 2px solid #7a7a7a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}