.footerBottom {
    width: 100%;
    background: #000;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 76px;
    color: #fff;
    padding: 34px 50px;
    
    span {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: -1px;
        font-weight: 300;
    }
}

.rules {
    align-self: flex-end;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
}