@use 'src/app/styles/media.scss' as media;

.footerTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 73px;
    color: #fff;

    .innerTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .innerBottom {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 27px;
    }

    .title {
        width: 939px;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    .location {
        width: 230px;
        height: 70px;
        border-radius: 100px;
        background: #E2A600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: #000;

        span {
            font-size: 22px;
            font-weight: 800;
            line-height: 1.2;
            letter-spacing: -1px;
            color: #000;
        }
    }

    .social {
        width: 230px;
        height: 70px;
        background: #000;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: -1px;
        font-weight: 700;
    }
}