.wrapper {
  padding-top: 105px;
  width: 100%;
}

.homepage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    padding: 60px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}