@use 'src/app/styles/media.scss' as media;

.wrapper {
    width: 100%;
    min-height: 105px;
    background: #1d1d1d;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

    .mainContent {
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    .title {
        color: aliceblue;
    }
}